name: build

on:
  push:
    branches: [master]
  workflow_dispatch: {}
  schedule:
    - cron: '30 23 * * *'

permissions:
  contents: write

concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: sudo apt-get install faketime -y

      - uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7

      - run: uv sync --frozen

      - uses: actions/checkout@v6
        with:
          ref: gh-pages
          path: dist

      - name: Generate package index
        run: uv run python main.py
        env:
          PAT: ${{ github.token }}

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: '${{ github.token }}'
          publish_dir: ./dist/
