name: ci

on:
  pull_request:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: sudo apt-get install faketime -y

      - uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install dependencies
        run: uv sync --frozen

      - name: Lint
        run: uv run --with ruff ruff check .

      - name: Syntax check
        run: uv run python -m py_compile main.py

      - name: Dry-run package index generation
        run: uv run python main.py
        env:
          PAT: ${{ github.token }}